mixin game()
    +b('section').game
        +e.decoration
            img(src='./images/divider.svg')
        +e.container
            +e.cart
            +e.text
                +e.title И для принцесс, и для храбрых Василис мы подготовили конкурс с приятными призами.
                +e.explanation
                    +e.explanation-title Нужно поймать волшебную щуку — а для этого решить головоломку. Все просто: она устроена по принципу знакомых всем пятнашек.
                    +e.explanation-text После того, как вы пройдете игру, оставьте свой email в специальном поле. Мы пришлем вам уникальную ссылку — отправляйте ее друзьям и знакомым.<br>Чем больше людей перейдут по этой ссылке, тем выше<br>ваш шанс выиграть приятные призы!
                +e('button').button Начать
            +e.cart
