@font-face
	font-family 'Dobrozrachniy-Regular'
	src url('../../fonts/Dobrozrachniy-Regular.woff2') format('woff2')

@font-face
	font-family 'BazhanovC'
	src url('../../fonts/BazhanovC.woff') format('woff')